html {
  scroll-behavior: smooth;
  font-size: auto;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: auto;
  text-align: center;
}

p, li {
  font-size: auto;	
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #343838;
}

body .headers {
  margin: 0 auto;
  background-color: #1b1818;
  padding: 0 20px 20px 20px;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 20px 0;	
  color: #ffffff;
}

.headers img {
  width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.desc {
  margin: 0 auto;
  color: white;
  background-color: #404040;
  padding: 10px 15px;
  text-decoration: none;
  font-family: Sans-Serif;
  border: 5px solid #1b1818;
  font-family: Arial;
}
#tutor {
  text-align: center;
}
.desc a {
  font-weight: bold;
  color: #9bf9f9;
  text-decoration: none;
}

footer {
  overflow: hidden;
  text-align: center;
  color: white;
}
footer a {
  font-weight: bold;
  color: #9bf9f9;
  text-decoration: none;
}

/*Navbar*/
.navbar {
  font-family: sans-serif;
}
.bar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #343838;
}

.bar li a {
  float: left;
  text-decoration: none;
  color: white;
  text-align: center;
  display: block;
  padding: 12px 14px;
  margin: 0;
}

.bar .active {
  background-color: #df6e03;
  color: black;
}

.bar li a:hover:not(.active) {
  background-color: #828282;
  color: #313131;
}

/*Animation*/
.reveal:not(.navbar) {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.vanish:not(.navbar) {
  transform: translateX(0px);
  opacity: 1;
}